@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-5xl font-bold;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  h4 {
    @apply text-3xl font-bold;
  }
  h5 {
    @apply text-2xl font-bold;
  }
  h6 {
    @apply text-xl font-bold;
  }
}

.section-wrapper {
  @apply px-5 lg:px-10 max-w-7xl mx-auto;
}

.hero-shape {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Pseudo-element for shapeOne */
.hero-shape::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("@/assets/shapes/1.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1; /* Ensure shapeOne is behind shapeTwo */
  filter: brightness(20%); /* Set shapeOne to black */
  opacity: 0.2; /* Decrease opacity of shapeOne */
}

/* Pseudo-element for shapeTwo */
.hero-shape::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("@/assets/shapes/2.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2; /* Ensure shapeTwo is above shapeOne */
}
